:root {
    --black-700: #000;
    --blueGradiant: #3b2a9f;
    --primary-50: #6854d6;
    --primary-300 :#322966;
    --secondery--2:#FA8305;
  }

.c2{
    gap:50px;
}
.player-table{
    background-color: var(--blueGradiant);
}

.odd-row {
    background-color: rgba(0,100,1,0.3);
}

.even-row {
    background-color: var(--blueGradiant);
}
